/* Tu CSS va aqui */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navbar-default .navbar-brand{
	color: #F05F40;
	font-weight: bold;
}
.navbar-default .navbar-brand:hover{
	color: #F05F40;
	font-weight: bold;
}
.navbar-default .navbar-nav li a{
	color: black;
	font-weight: bold;
}
.navbar-default .navbar-nav li a:hover{
	color:#F05F40;
	font-weight: bold;
}
.secPrincipal{
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	height: auto;
	background-size: 100%;
	padding: 5% 20% 10% 20%;
	text-align: center;
}
.secPrincipal .jumbotron, .secSobreMi .jumbotron{
	background-color: transparent;
}
.secPrincipal h1{
	color: white;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 5%;
}
.secPrincipal .rayita{
	width: 40px;
	margin:auto;
	border-top: 4px solid #F05F40;	
}
.secPrincipal p{
	margin: 5% 0;
	color: rgba(0,0,0,0.5);
	font-size: 1.4em;
}
.secPrincipal a{
	background-color: #F05F40;
	border:1px solid #F05F40;
	color: white;
	border-radius: 20px;
}
.secPrincipal a:hover{
	background-color: #FF4000;
	border:1px solid #FF4000;
}
.secSobreMi{
	background-color: #F05F40;
	color:white;
	text-align: center;
	padding: 5% 10% 5% 10%;
}
.secSobreMi h2{
	font-size: 2em;
	margin-bottom: 2.5%;
}
.secSobreMi .rayita{
	width: 70px;
	margin:auto;
	border-top: 4px solid white;
}
.secSobreMi p{
	margin-top: 2.5%;
	font-size: 1.5em;
}
.secServicio {
	text-align: center;
}
.secServicio h2{
	font-size: 2em;
	margin: 5% 0 2% 0;
}
.secServicio .rayita{
	width: 40px;
	margin:auto;
	border-top: 4px solid #F05F40;
}
span{
	color: #F05F40;
	font-size: 3em;
}
.container-fluid{
	padding: 0;
}
.col-lg-4{
	padding: 0;
}
.secFotos{
	text-align: center;
}
.espacio{
	margin: 0;
}
img{
	width: 100%;
	height: auto;
}
.secFotos .jumbotron{
	background-color: #2E2E2E;
	padding-bottom: 3%;
	border-radius: 0;
}
.secFotos p{
	color: white;
	font-size: 2em;
}
.secFotos a{
	color: black;
	font-weight: bold;
	background-color: white;
	border:1px solid white;
	border-radius: 8px;
}
.secFotos a:hover{
	color: black;
	font-weight: bold;
	background-color: white;
	border:1px solid white;
	border-radius: 8px;
}
.secContacto{
	text-align: center;
}
.secContacto .jumbotron{
	background-color: white;
}
.secContacto .rayita{
	width: 40px;
	margin:auto;
	border-top: 4px solid #F05F40;	
}
.secContacto span{
	font-size: 3em;
	color: black;
}
